- if (symbols !== null) {
li(class="symbol symbol--advent")
	p.symbol-label Advent: 
		span.symbol-total #{symbols.advent.total}
li(class="symbol symbol--angel")
	p.symbol-label Angel: 
		span.symbol-total #{symbols.angel.total}
li(class="symbol symbol--bandaid")
	p.symbol-label Bandaid: 
		span.symbol-total #{symbols.bandaid.total}
li(class="symbol symbol--bauble")
	p.symbol-label Bauble: 
		span.symbol-total #{symbols.bauble.total}
li(class="symbol symbol--bells")
	p.symbol-label Bells: 
		span.symbol-total #{symbols.bells.total}
li(class="symbol symbol--bingcrosby")
	p.symbol-label Bing Crosby: 
		span.symbol-total #{symbols.bingcrosby.total}
li(class="symbol symbol--blitzen")
	p.symbol-label Blitzen: 
		span.symbol-total #{symbols.blitzen.total}
li(class="symbol symbol--candle")
	p.symbol-label Candle: 
		span.symbol-total #{symbols.candle.total}
li(class="symbol symbol--carols")
	p.symbol-label Carols: 
		span.symbol-total #{symbols.carols.total}
li(class="symbol symbol--chimney")
	p.symbol-label Chimney: 
		span.symbol-total #{symbols.chimney.total}
li(class="symbol symbol--christianity")
	p.symbol-label Christianity: 
		span.symbol-total #{symbols.christianity.total}
li(class="symbol symbol--christmas")
	p.symbol-label Christmas: 
		span.symbol-total #{symbols.christmas.total}
li(class="symbol symbol--christmascards")
	p.symbol-label Christmas Cards: 
		span.symbol-total #{symbols.christmascards.total}
li(class="symbol symbol--christmasdecorations")
	p.symbol-label Christmas Decorations: 
		span.symbol-total #{symbols.christmasdecorations.total}
li(class="symbol symbol--christmaslights")
	p.symbol-label Christmas Lights: 
		span.symbol-total #{symbols.christmaslights.total}
li(class="symbol symbol--christmastree")
	p.symbol-label Christmas Tree: 
		span.symbol-total #{symbols.christmastree.total}
li(class="symbol symbol--cliffrichard")
	p.symbol-label Cliff Richard: 
		span.symbol-total #{symbols.cliffrichard.total}
li(class="symbol symbol--cold")
	p.symbol-label Cold: 
		span.symbol-total #{symbols.cold.total}
li(class="symbol symbol--comet")
	p.symbol-label Comet: 
		span.symbol-total #{symbols.comet.total}
li(class="symbol symbol--cracker")
	p.symbol-label Cracker: 
		span.symbol-total #{symbols.cracker.total}
li(class="symbol symbol--cupid")
	p.symbol-label Cupid: 
		span.symbol-total #{symbols.cupid.total}
li(class="symbol symbol--dancer")
	p.symbol-label Dancer: 
		span.symbol-total #{symbols.dancer.total}
li(class="symbol symbol--dasher")
	p.symbol-label Dasher: 
		span.symbol-total #{symbols.dasher.total}
li(class="symbol symbol--donner")
	p.symbol-label Donner: 
		span.symbol-total #{symbols.donner.total}
li(class="symbol symbol--doves")
	p.symbol-label Doves: 
		span.symbol-total #{symbols.doves.total}
li(class="symbol symbol--eggnog")
	p.symbol-label Eggnog: 
		span.symbol-total #{symbols.eggnog.total}
li(class="symbol symbol--elf")
	p.symbol-label Elf: 
		span.symbol-total #{symbols.elf.total}
li(class="symbol symbol--fairy")
	p.symbol-label Fairy: 
		span.symbol-total #{symbols.fairy.total}
li(class="symbol symbol--festive")
	p.symbol-label Festive: 
		span.symbol-total #{symbols.festive.total}
li(class="symbol symbol--fireplace")
	p.symbol-label Fireplace: 
		span.symbol-total #{symbols.fireplace.total}
li(class="symbol symbol--frankincense")
	p.symbol-label Frankincense: 
		span.symbol-total #{symbols.frankincense.total}
li(class="symbol symbol--gingerbread")
	p.symbol-label Gingerbread: 
		span.symbol-total #{symbols.gingerbread.total}
li(class="symbol symbol--god")
	p.symbol-label God: 
		span.symbol-total #{symbols.god.total}
li(class="symbol symbol--gold")
	p.symbol-label Gold: 
		span.symbol-total #{symbols.gold.total}
li(class="symbol symbol--grinch")
	p.symbol-label Grinch: 
		span.symbol-total #{symbols.grinch.total}
li(class="symbol symbol--grotto")
	p.symbol-label Grotto: 
		span.symbol-total #{symbols.grotto.total}
li(class="symbol symbol--hohoho")
	p.symbol-label Hohoho: 
		span.symbol-total #{symbols.hohoho.total}
li(class="symbol symbol--holly")
	p.symbol-label Holly: 
		span.symbol-total #{symbols.holly.total}
li(class="symbol symbol--ivy")
	p.symbol-label Ivy: 
		span.symbol-total #{symbols.ivy.total}
li(class="symbol symbol--jesus")
	p.symbol-label Jesus: 
		span.symbol-total #{symbols.jesus.total}
li(class="symbol symbol--joseph")
	p.symbol-label Joseph: 
		span.symbol-total #{symbols.joseph.total}
li(class="symbol symbol--joy")
	p.symbol-label Joy: 
		span.symbol-total #{symbols.joy.total}
li(class="symbol symbol--jumper")
	p.symbol-label Jumper: 
		span.symbol-total #{symbols.jumper.total}
li(class="symbol symbol--king")
	p.symbol-label King: 
		span.symbol-total #{symbols.king.total}
li(class="symbol symbol--lapland")
	p.symbol-label Lapland: 
		span.symbol-total #{symbols.lapland.total}
li(class="symbol symbol--manger")
	p.symbol-label Manger: 
		span.symbol-total #{symbols.manger.total}
li(class="symbol symbol--mariahcarey")
	p.symbol-label Mariahcarey: 
		span.symbol-total #{symbols.mariahcarey.total}
li(class="symbol symbol--mary")
	p.symbol-label Mary: 
		span.symbol-total #{symbols.mary.total}
li(class="symbol symbol--merry")
	p.symbol-label Merry: 
		span.symbol-total #{symbols.merry.total}
li(class="symbol symbol--mincepie")
	p.symbol-label Mincepie: 
		span.symbol-total #{symbols.mincepie.total}
li(class="symbol symbol--mistletoe")
	p.symbol-label Mistletoe: 
		span.symbol-total #{symbols.mistletoe.total}
li(class="symbol symbol--money")
	p.symbol-label Money: 
		span.symbol-total #{symbols.money.total}
li(class="symbol symbol--mulledwine")
	p.symbol-label Mulledwine: 
		span.symbol-total #{symbols.mulledwine.total}
li(class="symbol symbol--myrrh")
	p.symbol-label Myrrh: 
		span.symbol-total #{symbols.myrrh.total}
li(class="symbol symbol--nativity")
	p.symbol-label Nativity: 
		span.symbol-total #{symbols.nativity.total}
li(class="symbol symbol--northpole")
	p.symbol-label Northpole: 
		span.symbol-total #{symbols.northpole.total}
li(class="symbol symbol--nutcracker")
	p.symbol-label Nutcracker: 
		span.symbol-total #{symbols.nutcracker.total}
li(class="symbol symbol--partridge")
	p.symbol-label Partridge: 
		span.symbol-total #{symbols.partridge.total}
li(class="symbol symbol--peace")
	p.symbol-label Peace: 
		span.symbol-total #{symbols.peace.total}
li(class="symbol symbol--prancer")
	p.symbol-label Prancer: 
		span.symbol-total #{symbols.prancer.total}
li(class="symbol symbol--present")
	p.symbol-label Present: 
		span.symbol-total #{symbols.present.total}
li(class="symbol symbol--pudding")
	p.symbol-label Pudding: 
		span.symbol-total #{symbols.pudding.total}
li(class="symbol symbol--punch")
	p.symbol-label Punch: 
		span.symbol-total #{symbols.punch.total}
li(class="symbol symbol--reindeer")
	p.symbol-label Reindeer: 
		span.symbol-total #{symbols.reindeer.total}
li(class="symbol symbol--roast")
	p.symbol-label Roast: 
		span.symbol-total #{symbols.roast.total}
li(class="symbol symbol--robin")
	p.symbol-label Robin: 
		span.symbol-total #{symbols.robin.total}
li(class="symbol symbol--rudolph")
	p.symbol-label Rudolph: 
		span.symbol-total #{symbols.rudolph.total}
li(class="symbol symbol--sack")
	p.symbol-label Sack: 
		span.symbol-total #{symbols.sack.total}
li(class="symbol symbol--santa")
	p.symbol-label Santa: 
		span.symbol-total #{symbols.santa.total}
li(class="symbol symbol--scrooge")
	p.symbol-label Scrooge: 
		span.symbol-total #{symbols.scrooge.total}
li(class="symbol symbol--shepherd")
	p.symbol-label Shepherd: 
		span.symbol-total #{symbols.shepherd.total}
li(class="symbol symbol--sherry")
	p.symbol-label Sherry: 
		span.symbol-total #{symbols.sherry.total}
li(class="symbol symbol--shopping")
	p.symbol-label Shopping: 
		span.symbol-total #{symbols.shopping.total}
li(class="symbol symbol--sledge")
	p.symbol-label Sledge: 
		span.symbol-total #{symbols.sledge.total}
li(class="symbol symbol--sleigh")
	p.symbol-label Sleigh: 
		span.symbol-total #{symbols.sleigh.total}
li(class="symbol symbol--snow")
	p.symbol-label Snow: 
		span.symbol-total #{symbols.snow.total}
li(class="symbol symbol--snowflake")
	p.symbol-label Snowflake: 
		span.symbol-total #{symbols.snowflake.total}
li(class="symbol symbol--snowman")
	p.symbol-label Snowman: 
		span.symbol-total #{symbols.snowman.total}
li(class="symbol symbol--sprouts")
	p.symbol-label Sprouts: 
		span.symbol-total #{symbols.sprouts.total}
li(class="symbol symbol--stable")
	p.symbol-label Stable: 
		span.symbol-total #{symbols.stable.total}
li(class="symbol symbol--star")
	p.symbol-label Star: 
		span.symbol-total #{symbols.star.total}
li(class="symbol symbol--stocking")
	p.symbol-label Stocking: 
		span.symbol-total #{symbols.stocking.total}
li(class="symbol symbol--stuffing")
	p.symbol-label Stuffing: 
		span.symbol-total #{symbols.stuffing.total}
li(class="symbol symbol--thepogues")
	p.symbol-label The Pogues: 
		span.symbol-total #{symbols.thepogues.total}
li(class="symbol symbol--tinsel")
	p.symbol-label Tinsel: 
		span.symbol-total #{symbols.tinsel.total}
li(class="symbol symbol--turkey")
	p.symbol-label Turkey: 
		span.symbol-total #{symbols.turkey.total}
li(class="symbol symbol--vixen")
	p.symbol-label Vixen: 
		span.symbol-total #{symbols.vixen.total}
li(class="symbol symbol--wham")
	p.symbol-label Wham: 
		span.symbol-total #{symbols.wham.total}
li(class="symbol symbol--wisemen")
	p.symbol-label Wise Men: 
		span.symbol-total #{symbols.wisemen.total}
li(class="symbol symbol--wreath")
	p.symbol-label Wreath: 
		span.symbol-total #{symbols.wreath.total}
li(class="symbol symbol--yule")
	p.symbol-label Yule: 
		span.symbol-total #{symbols.yule.total}
li(class="symbol symbol--yuletide")
	p.symbol-label Yuletide: 
		span.symbol-total #{symbols.yuletide.total}
- }
