doctype html
html
	block vars
	include ../includes/head

	- if (subText === undefined)
		- subText = 'Oops'

	body
		div(class="l-container #{page}")
			include ../includes/header

			- if (symbols !== null) {
			.illust-container
				.illust-level.illust-level--intro
					.illustItem.illustItem--bgGrass
					.illustItem.illustItem--snowflake.symbol.symbol--snowflake
						a.symbol-link(href="")
							h2.symbol-title Snowflake
							p.symbol-total #{symbols.snowflake.total}

					.illustItem.illustItem--fencePost.illustItem--fencePost--first
						.illustItem.illustItem--northpole.illustItem--fence-arrow.illustItem--fence-arrow-left.symbol.symbol--northpole
							a.symbol-link(href="")
								h2.symbol-title North Pole
								p.symbol-total #{symbols.northpole.total}

						.illustItem.illustItem--grotto.illustItem--fence-arrow.illustItem--fence-arrow-right.symbol.symbol--grotto
							a.symbol-link(href="")
								h2.symbol-title Grotto
								p.symbol-total #{symbols.grotto.total}

					.illustItem.illustItem--holly.symbol.symbol--holly
						a.symbol-link(href="")
							h2.symbol-title Holly
							p.symbol-total #{symbols.holly.total}

					.illustItem.illustItem--doves.symbol.symbol--doves.symbol--inline
						a.symbol-link(href="")
							h2.symbol-title Doves
							p.symbol-total #{symbols.doves.total}

					.illustItem.illustItem--fencePost.illustItem--fencePost--second
						.illustItem.illustItem--lapland.illustItem--fence-arrow.illustItem--fence-arrow-right.symbol.symbol--lapland
							a.symbol-link(href="")
								h2.symbol-title Lapland
								p.symbol-total #{symbols.lapland.total}

					.illustItem.illustItem--ivy.symbol.symbol--ivy
						a.symbol-link(href="")
							h2.symbol-title Ivy
							p.symbol-total #{symbols.ivy.total}

			.illust-level--town
				.illustItem.illustItem--snowglobe
				.illustItem.illustItem--town
					include ../illustrations/town
					include ../illustrations/santa
					include ../illustrations/sleigh
					
					.illust-level.illust-level--symbolsTown
						.illustItem.illustItem--snowman.symbol.symbol--snowman
							a.symbol-link(href="")
								h2.symbol-title Snowman
								p.symbol-total #{symbols.snowman.total}
						.illustItem.illustItem--yule.symbol.symbol--yule.symbol--inline
							a.symbol-link(href="")
								h2.symbol-title Yule
								p.symbol-total #{symbols.yule.total}
						.illustItem.illustItem--cold.symbol.symbol--cold.symbol--inline
							a.symbol-link(href="")
								h2.symbol-title Cold
								p.symbol-total #{symbols.cold.total}
								
						.illustItem.illustItem--robin.symbol.symbol--robin
							a.symbol-link(href="")
								h2.symbol-title Robin
								p.symbol-total #{symbols.robin.total}
						.illustItem.illustItem--christmaslights.symbol.symbol--christmaslights.symbol--inline
							a.symbol-link(href="")
								h2.symbol-title Christmas Lights
								p.symbol-total #{symbols.christmaslights.total}
						.illustItem.illustItem--snow.symbol.symbol--snow.symbol--inline
							a.symbol-link(href="")
								h2.symbol-title Snow
								p.symbol-total #{symbols.snow.total}
						

			- }



			//- .symbols
			//- 	include ../symbols/index

			#scroll-proxy

			include ../includes/footer

	include ../includes/foot
