doctype html
html
	block vars
	include ../includes/head

	- if (subText === undefined)
		- subText = 'Oops'

	body
		div(class="l-container #{page}")
			btn.btn-list View all words
			include ../includes/header
			
			.overlay.overlay--intro
				.overlay-contents
					.info-text
						p.infoWindow-subText
							span.infoWindow-subText-highlight Christmas Tracker 
							| is an interactive illustration showing you how many times a bunch of Christmassy words have been mentioned so far today on Twitter.
						p.infoWindow-subText
							| Scroll to see more words and click on one to see it’s mentions over a number of days.
							
						p.infoWindow-subText--narrow
							span.infoWindow-subText-highlight Christmas Tracker
							| shows you how many times a bunch of Christmassy words have been mentioned so far today on Twitter.
						p.infoWindow-subText--narrow
							| If you view the site on a wider device you’ll be able to see the fully illustrated version of the site.

						button.btn Get started

					.info-donate.info-text
						p.infoWindow-baseText It would be great if the site could make a bit of a difference to those that need it at Christmas.
						p.infoWindow-subText
							| If you like Christmas Tracker, please consider 
							a(href="https://www.givey.com/christmastracker/") donating a little something to Shelter 
							| – a UK charity that helps the homeless.
						
			.overlay.overlay--info.inactive
				.overlay-contents
					.info-text
						h2.infoWindow-title
							| Christmas Tracker
							.infoWindow-title-sub was created by these little angels…
						.info-helpers
							.info-helper
								h3.info-helper-title
									a(href="https://twitter.com/AshNolan_" target="_blank")
										span.info-helper-name Ashley Nolan 
										span.info-helper-role Developer
											span.info-helper-role-sub &amp; Bringer of Joy
									span.illust-person
										include ../illustrations/ash.html
							.info-helper
								h3.info-helper-title
									a(href="" target="_blank")
										span.info-helper-name Lorena Teruel 
										span.info-helper-role Designer
											span.info-helper-role-sub &amp; Glitter Queen
									span.illust-person
										include ../illustrations/lorena.html
							.info-helper
								h3.info-helper-title
									a(href="https://twitter.com/kinslowdian" target="_blank")
										span.info-helper-name Simon Kinslow 
										span.info-helper-role Designer
											span.info-helper-role-sub &amp; Reaper of Souls
									span.illust-person.illust-person--simon
										include ../illustrations/simon.html
							
						button.btn Close
					

			- if (symbols !== null) {
			.illust-container
				.illust-level.illust-level--intro
					.illustItem.illustItem--bgGrass
					.illustItem.illustItem--snowflake.symbol.symbol--snowflake
						include ../illustrations/snowflake.html
						a.symbol-link(href="https://twitter.com/search?f=realtime&q=snowflake&src=typd" target="_blank")
							h2.symbol-title Snowflake
							p.symbol-total #{symbols.snowflake.total}

					.illustItem.illustItem--fencePost.illustItem--fencePost--first
						include ../illustrations/fence-post.html
						.illustItem.illustItem--northpole.illustItem--fence-arrow.illustItem--fence-arrow-left.symbol.symbol--northpole
							include ../illustrations/fence-left.html
							a.symbol-link(href="https://twitter.com/search?f=realtime&q=fence&src=typd" target="_blank")
								h2.symbol-title North Pole
								p.symbol-total #{symbols.northpole.total}

						.illustItem.illustItem--grotto.illustItem--fence-arrow.illustItem--fence-arrow-right.symbol.symbol--grotto
							include ../illustrations/fence-right.html
							a.symbol-link(href="https://twitter.com/search?f=realtime&q=fence&src=typd" target="_blank")
								h2.symbol-title Grotto
								p.symbol-total #{symbols.grotto.total}

					.illustItem.illustItem--holly.symbol.symbol--holly
						include ../illustrations/holly.html
						a.symbol-link(href="https://twitter.com/search?f=realtime&q=holly&src=typd" target="_blank")
							h2.symbol-title Holly
							p.symbol-total #{symbols.holly.total}

					.illustItem.illustItem--doves.symbol.symbol--doves.symbol--inline
						include ../illustrations/doves.html
						a.symbol-link(href="https://twitter.com/search?f=realtime&q=doves&src=typd" target="_blank")
							h2.symbol-title Doves
							p.symbol-total #{symbols.doves.total}

					.illustItem.illustItem--fencePost.illustItem--fencePost--second
						include ../illustrations/fence-post.html
						.illustItem.illustItem--lapland.illustItem--fence-arrow.illustItem--fence-arrow-right.symbol.symbol--lapland
							include ../illustrations/fence-right.html
							a.symbol-link(href="https://twitter.com/search?f=realtime&q=fence&src=typd" target="_blank")
								h2.symbol-title Lapland
								p.symbol-total #{symbols.lapland.total}

					.illustItem.illustItem--ivy.symbol.symbol--ivy
						include ../illustrations/ivy.html
						a.symbol-link(href="https://twitter.com/search?f=realtime&q=ivy&src=typd" target="_blank")
							h2.symbol-title Ivy
							p.symbol-total #{symbols.ivy.total}

			.illust-level--town
				.illustItem.illustItem--snowglobe
					include ../illustrations/snowglobe.html
				.illustItem.illustItem--town
					include ../illustrations/town.html
					.svg-house
						include ../illustrations/house.html
					include ../illustrations/sleigh.html
					.svg-star.inactive
						include ../illustrations/star.html
					include ../illustrations/sledge.html
					include ../illustrations/robins.html
					include ../illustrations/peace.html
					include ../illustrations/shopping.html
					.svg-carollers
						include ../illustrations/carollers.html
					include ../illustrations/firstfloor.html
					include ../illustrations/secondfloor.html
					include ../illustrations/nativity.html
					
					.illust-level.illust-level--symbolsTown
						
						.illustItem.illustItem--yuletide.symbol.symbol--yuletide.symbol--inline
							a.symbol-link(href="https://twitter.com/search?f=realtime&q=yuletide&src=typd" target="_blank")
								h2.symbol-title yuletide
								p.symbol-total #{symbols.yuletide.total}
						.illustItem.illustItem--cold.symbol.symbol--cold.symbol--inline
							a.symbol-link(href="https://twitter.com/search?f=realtime&q=cold&src=typd" target="_blank")
								h2.symbol-title Cold
								p.symbol-total #{symbols.cold.total}
						
						.symbols--outside
							.illustItem.illustItem--robin.symbol.symbol--robin
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=robin&src=typd" target="_blank")
									h2.symbol-title Robin
									p.symbol-total #{symbols.robin.total}
							.illustItem.illustItem--christmaslights.symbol.symbol--christmaslights.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=christmaslights&src=typd" target="_blank")
									h2.symbol-title Christmas Lights
									p.symbol-total #{symbols.christmaslights.total}
							.illustItem.illustItem--snow.symbol.symbol--snow.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=snow&src=typd" target="_blank")
									h2.symbol-title Snow
									p.symbol-total #{symbols.snow.total}
							.illustItem.illustItem--snowman.symbol.symbol--snowman.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=snowman&src=typd" target="_blank")
									h2.symbol-title Snowman
									p.symbol-total #{symbols.snowman.total}
							.illustItem.illustItem--partridge.symbol.symbol--partridge.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=partridge&src=typd" target="_blank")
									h2.symbol-title Partridge
									p.symbol-total #{symbols.partridge.total}
							.illustItem.illustItem--christmastree.symbol.symbol--christmastree.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=christmastree&src=typd" target="_blank")
									h2.symbol-title Christmas Tree
									p.symbol-total #{symbols.christmastree.total}
							.illustItem.illustItem--peace.symbol.symbol--peace.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=peace&src=typd" target="_blank")
									h2.symbol-title Peace
									p.symbol-total #{symbols.peace.total}
							.illustItem.illustItem--sledge.symbol.symbol--sledge
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=sledge&src=typd" target="_blank")
									h2.symbol-title Sledge
									p.symbol-total #{symbols.sledge.total}
							.illustItem.illustItem--shopping.symbol.symbol--shopping.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=shopping&src=typd" target="_blank")
									h2.symbol-title Shopping
									p.symbol-total #{symbols.shopping.total}
							.illustItem.illustItem--wreath.symbol.symbol--wreath
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=wreath&src=typd" target="_blank")
									h2.symbol-title Wreath
									p.symbol-total #{symbols.wreath.total}
							.illustItem.illustItem--carols.symbol.symbol--carols.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=carols&src=typd" target="_blank")
									h2.symbol-title Carols
									p.symbol-total #{symbols.carols.total}
								
						.symbols--inside.inactive
							//- First Floor
							.illustItem.illustItem--festive.symbol.symbol--festive
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=festive&src=typd" target="_blank")
									p.symbol-total #{symbols.festive.total}
							.illustItem.illustItem--roast.symbol.symbol--roast
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=roast&src=typd" target="_blank")
									p.symbol-total #{symbols.roast.total}
							.illustItem.illustItem--sprouts.symbol.symbol--sprouts
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=sprouts&src=typd" target="_blank")
									h2.symbol-title sprouts
									p.symbol-total #{symbols.sprouts.total}
							.illustItem.illustItem--turkey.symbol.symbol--turkey
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=turkey&src=typd" target="_blank")
									h2.symbol-title turkey
									p.symbol-total #{symbols.turkey.total}
							.illustItem.illustItem--stuffing.symbol.symbol--stuffing
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=stuffing&src=typd" target="_blank")
									h2.symbol-title stuffing
									p.symbol-total #{symbols.stuffing.total}
							.illustItem.illustItem--pudding.symbol.symbol--pudding
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=pudding&src=typd" target="_blank")
									h2.symbol-title pudding
									p.symbol-total #{symbols.pudding.total}
							.illustItem.illustItem--punch.symbol.symbol--punch
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=punch&src=typd" target="_blank")
									h2.symbol-title punch
									p.symbol-total #{symbols.punch.total}
							.illustItem.illustItem--cracker.symbol.symbol--cracker
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=cracker&src=typd" target="_blank")
									h2.symbol-title cracker
									p.symbol-total #{symbols.cracker.total}
							.illustItem.illustItem--eggnog.symbol.symbol--eggnog
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=eggnog&src=typd" target="_blank")
									p.symbol-total #{symbols.eggnog.total}
							.illustItem.illustItem--fairy.symbol.symbol--fairy
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=fairy&src=typd" target="_blank")
									h2.symbol-title fairy
									p.symbol-total #{symbols.fairy.total}
							.illustItem.illustItem--bauble.symbol.symbol--bauble
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=bauble&src=typd" target="_blank")
									h2.symbol-title bauble
									p.symbol-total #{symbols.bauble.total}
							.illustItem.illustItem--bells.symbol.symbol--bells
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=bells&src=typd" target="_blank")
									h2.symbol-title bells
									p.symbol-total #{symbols.bells.total}
							.illustItem.illustItem--gingerbread.symbol.symbol--gingerbread.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=gingerbread&src=typd" target="_blank")
									h2.symbol-title gingerbread
									p.symbol-total #{symbols.gingerbread.total}
							.illustItem.illustItem--tinsel.symbol.symbol--tinsel.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=tinsel&src=typd" target="_blank")
									h2.symbol-title tinsel
									p.symbol-total #{symbols.tinsel.total}
							.illustItem.illustItem--present.symbol.symbol--present
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=present&src=typd" target="_blank")
									h2.symbol-title present
									p.symbol-total #{symbols.present.total}
							.illustItem.illustItem--nutcracker.symbol.symbol--nutcracker
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=nutcracker&src=typd" target="_blank")
									h2.symbol-title nutcracker
									p.symbol-total #{symbols.nutcracker.total}
									
							//- Second Floor
							.illustItem.illustItem--bingcrosby.symbol.symbol--bingcrosby
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=bingcrosby&src=typd" target="_blank")
									h2.symbol-title Bing Crosby
									p.symbol-total #{symbols.bingcrosby.total}
							.illustItem.illustItem--bandaid.symbol.symbol--bandaid
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=bandaid&src=typd" target="_blank")
									h2.symbol-title Band Aid
									p.symbol-total #{symbols.bandaid.total}
							.illustItem.illustItem--mariahcarey.symbol.symbol--mariahcarey
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=mariahcarey&src=typd" target="_blank")
									h2.symbol-title Mariah Carey
									p.symbol-total #{symbols.mariahcarey.total}
							.illustItem.illustItem--thepogues.symbol.symbol--thepogues
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=thepogues&src=typd" target="_blank")
									h2.symbol-title The Pogues
									p.symbol-total #{symbols.thepogues.total}
							.illustItem.illustItem--wham.symbol.symbol--wham
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=wham&src=typd" target="_blank")
									h2.symbol-title Wham
									p.symbol-total #{symbols.wham.total}
							
							.illustItem.illustItem--candle.symbol.symbol--candle
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=candle&src=typd" target="_blank")
									h2.symbol-title candle
									p.symbol-total #{symbols.candle.total}
							.illustItem.illustItem--mulledwine.symbol.symbol--mulledwine.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=mulledwine&src=typd" target="_blank")
									h2.symbol-title Mulled Wine
									p.symbol-total #{symbols.mulledwine.total}
							.illustItem.illustItem--sherry.symbol.symbol--sherry.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=sherry&src=typd" target="_blank")
									h2.symbol-title Sherry
									p.symbol-total #{symbols.sherry.total}
							.illustItem.illustItem--stocking.symbol.symbol--stocking
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=stocking&src=typd" target="_blank")
									h2.symbol-title stocking
									p.symbol-total #{symbols.stocking.total}
							.illustItem.illustItem--fireplace.symbol.symbol--fireplace
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=fireplace&src=typd" target="_blank")
									h2.symbol-title fireplace
									p.symbol-total #{symbols.fireplace.total}
							.illustItem.illustItem--mincepie.symbol.symbol--mincepie
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=mincepie&src=typd" target="_blank")
									h2.symbol-title Mince Pies
									p.symbol-total #{symbols.mincepie.total}
							.illustItem.illustItem--advent.symbol.symbol--advent.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=advent&src=typd" target="_blank")
									h2.symbol-title advent
									p.symbol-total #{symbols.advent.total}
							
							.illustItem.illustItem--grinch.symbol.symbol--grinch.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=grinch&src=typd" target="_blank")
									h2.symbol-title grinch
									p.symbol-total #{symbols.grinch.total}
							.illustItem.illustItem--money.symbol.symbol--money
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=money&src=typd" target="_blank")
									h2.symbol-title money
									p.symbol-total #{symbols.money.total}
							.illustItem.illustItem--jumper.symbol.symbol--jumper.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=jumper&src=typd" target="_blank")
									h2.symbol-title jumper
									p.symbol-total #{symbols.jumper.total}
							.illustItem.illustItem--merry.symbol.symbol--merry
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=merry&src=typd" target="_blank")
									p.symbol-total #{symbols.merry.total}
							.illustItem.illustItem--joy.symbol.symbol--joy
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=joy&src=typd" target="_blank")
									p.symbol-total #{symbols.joy.total}
							.illustItem.illustItem--yule.symbol.symbol--yule
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=yule&src=typd" target="_blank")
									p.symbol-total #{symbols.yule.total}
							.illustItem.illustItem--scrooge.symbol.symbol--scrooge.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=scrooge&src=typd" target="_blank")
									h2.symbol-title scrooge
									p.symbol-total #{symbols.scrooge.total}
							.illustItem.illustItem--mistletoe.symbol.symbol--mistletoe
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=mistletoe&src=typd" target="_blank")
									h2.symbol-title mistletoe
									p.symbol-total #{symbols.mistletoe.total}
							.illustItem.illustItem--christmascards.symbol.symbol--christmascards
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=christmascards&src=typd" target="_blank")
									h2.symbol-title Cards
									p.symbol-total #{symbols.christmascards.total}
									
									
									
							//- Nativity Scene totals
							.illustItem.illustItem--mary.symbol.symbol--mary
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=mary&src=typd" target="_blank")
									h2.symbol-title Mary
									p.symbol-total #{symbols.mary.total}
							.illustItem.illustItem--joseph.symbol.symbol--joseph
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=joseph&src=typd" target="_blank")
									h2.symbol-title Joseph
									p.symbol-total #{symbols.joseph.total}
							//- .illustItem.illustItem--manger.symbol.symbol--manger
							//- 	a.symbol-link(href="https://twitter.com/search?f=realtime&q=manger&src=typd" target="_blank")
							//- 		h2.symbol-title Manger
							//- 		p.symbol-total #{symbols.manger.total}
							.illustItem.illustItem--jesus.symbol.symbol--jesus
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=jesus&src=typd" target="_blank")
									h2.symbol-title Jesus
									p.symbol-total #{symbols.jesus.total}
							.illustItem.illustItem--god.symbol.symbol--god.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=god&src=typd" target="_blank")
									h2.symbol-title God
									p.symbol-total #{symbols.god.total}
							.illustItem.illustItem--stable.symbol.symbol--stable
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=stable&src=typd" target="_blank")
									h2.symbol-title Stable
									p.symbol-total #{symbols.stable.total}
							.illustItem.illustItem--wisemen.symbol.symbol--wisemen.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=wisemen&src=typd" target="_blank")
									h2.symbol-title Wisemen
									p.symbol-total #{symbols.wisemen.total}
							.illustItem.illustItem--shepherd.symbol.symbol--shepherd.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=shepherd&src=typd" target="_blank")
									h2.symbol-title Shepherds
									p.symbol-total #{symbols.shepherd.total}
							.illustItem.illustItem--angel.symbol.symbol--angel.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=angel&src=typd" target="_blank")
									h2.symbol-title Angel
									p.symbol-total #{symbols.angel.total}
							.illustItem.illustItem--gold.symbol.symbol--gold
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=gold&src=typd" target="_blank")
									h2.symbol-title Gold
									p.symbol-total #{symbols.gold.total}
							.illustItem.illustItem--frankincense.symbol.symbol--frankincense
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=frankincense&src=typd" target="_blank")
									h2.symbol-title Frankincense
									p.symbol-total #{symbols.frankincense.total}
							.illustItem.illustItem--myrrh.symbol.symbol--myrrh
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=myrrh&src=typd" target="_blank")
									h2.symbol-title Myrrh
									p.symbol-total #{symbols.myrrh.total}
									
							.illustItem.illustItem--chimney.symbol.symbol--chimney
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=chimney&src=typd" target="_blank")
									h2.symbol-title Chimney
									p.symbol-total #{symbols.chimney.total}
									
							//- Santa + Sleigh Scene totals
							.illustItem.illustItem--star.symbol.symbol--star
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=star&src=typd" target="_blank")
									h2.symbol-title Star
									p.symbol-total #{symbols.star.total}
							.illustItem.illustItem--sleigh.symbol.symbol--sleigh.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=sleigh&src=typd" target="_blank")
									h2.symbol-title Sleigh
									p.symbol-total #{symbols.sleigh.total}
							.illustItem.illustItem--elf.symbol.symbol--elf
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=elf&src=typd" target="_blank")
									h2.symbol-title Elf
									p.symbol-total #{symbols.elf.total}
							.illustItem.illustItem--sack.symbol.symbol--sack
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=sack&src=typd" target="_blank")
									h2.symbol-title Sack
									p.symbol-total #{symbols.sack.total}
							.illustItem.illustItem--santa.symbol.symbol--santa
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=santa&src=typd" target="_blank")
									h2.symbol-title Santa
									p.symbol-total #{symbols.santa.total}
							.illustItem.illustItem--hohoho.symbol.symbol--hohoho
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=hohoho&src=typd" target="_blank")
									p.symbol-total #{symbols.hohoho.total}
									
							//- Reindeer totals
							.illustItem.illustItem--rudolph.symbol.symbol--rudolph.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=rudolph&src=typd" target="_blank")
									h2.symbol-title Rudolph
									p.symbol-total #{symbols.rudolph.total}
							.illustItem.illustItem--dasher.symbol.symbol--dasher.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=dasher&src=typd" target="_blank")
									h2.symbol-title Dasher
									p.symbol-total #{symbols.dasher.total}
							.illustItem.illustItem--dancer.symbol.symbol--dancer.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=dancer&src=typd" target="_blank")
									h2.symbol-title Dancer
									p.symbol-total #{symbols.dancer.total}
							.illustItem.illustItem--prancer.symbol.symbol--prancer.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=prancer&src=typd" target="_blank")
									h2.symbol-title Prancer
									p.symbol-total #{symbols.prancer.total}
							.illustItem.illustItem--vixen.symbol.symbol--vixen.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=vixen&src=typd" target="_blank")
									h2.symbol-title Vixen
									p.symbol-total #{symbols.vixen.total}
							.illustItem.illustItem--comet.symbol.symbol--comet.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=comet&src=typd" target="_blank")
									h2.symbol-title Comet
									p.symbol-total #{symbols.comet.total}
							.illustItem.illustItem--cupid.symbol.symbol--cupid.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=cupid&src=typd" target="_blank")
									h2.symbol-title Cupid
									p.symbol-total #{symbols.cupid.total}
							.illustItem.illustItem--donner.symbol.symbol--donner.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=donner&src=typd" target="_blank")
									h2.symbol-title Donner
									p.symbol-total #{symbols.donner.total}
							.illustItem.illustItem--blitzen.symbol.symbol--blitzen.symbol--inline
								a.symbol-link(href="https://twitter.com/search?f=realtime&q=blitzen&src=typd" target="_blank")
									h2.symbol-title Blitzen
									p.symbol-total #{symbols.blitzen.total}
						

			- }


			.symbol-list-wrapper.inactive
				.btn.btn--close Close
				ul.symbol-list.unstyled
					include ../symbols/index


			#scroll-proxy

			include ../includes/footer

	include ../includes/foot
