doctype html
html
	block vars
	include ../includes/head

	- if (subText === undefined)
		- subText = 'Oops'

	body
		div(class="l-container #{page}")
			include ../includes/header
			
			.overlay.overlay--intro
				.overlay-contents
					p.infoWindow-subText
						| Christmas Tracker is an interactive illustration showing you how many times a bunch of Christmassy words have been mentioned so far today on Twitter.
					p.infoWindow-subText
						| Scroll to see more words and click on one to see it’s mentions over a number of days.
						
					p.infoWindow-subText--narrow
						| Christmas Tracker shows you how many times a bunch of Christmassy words have been mentioned so far today on Twitter.
					p.infoWindow-subText--narrow
						| If you view the site on a wider device you’ll be able to see the fully illustrated version of the site.

					button.btn Get Started

					p.infoWindow-baseText I’d love for this site to make a bit of a difference to those who need it at Christmas.
					p.infoWindow-subText
						| If you like the site, please consider donating a little something to Shelter – a UK charity that 
						a(href="http://england.shelter.org.uk/what_we_do") helps the homeless
						| .
						
			.overlay.overlay--info.inactive
				.overlay-contents
					h2.infoWindow-title Christmas Tracker was created by these little angels…
					.info-helper
						h3: a(href="https://twitter.com/AshNolan_" target="_blank") Ashley Nolan 
							span.info-helper-role Developer
					.info-helper
						h3: a(href="" target="_blank") Lorena Teruel 
							span.info-helper-role Designer
					.info-helper
						h3: a(href="https://twitter.com/kinslowdian" target="_blank") Simon Kinslow 
							span.info-helper-role Designer
						
					button.btn Close
					

			- if (symbols !== null) {
			.illust-container
				.illust-level.illust-level--intro
					.illustItem.illustItem--bgGrass
					.illustItem.illustItem--snowflake.symbol.symbol--snowflake
						include ../illustrations/snowflake.html
						a.symbol-link(href="")
							h2.symbol-title Snowflake
							p.symbol-total #{symbols.snowflake.total}

					.illustItem.illustItem--fencePost.illustItem--fencePost--first
						include ../illustrations/fence-post.html
						.illustItem.illustItem--northpole.illustItem--fence-arrow.illustItem--fence-arrow-left.symbol.symbol--northpole
							include ../illustrations/fence-left.html
							a.symbol-link(href="")
								h2.symbol-title North Pole
								p.symbol-total #{symbols.northpole.total}

						.illustItem.illustItem--grotto.illustItem--fence-arrow.illustItem--fence-arrow-right.symbol.symbol--grotto
							include ../illustrations/fence-right.html
							a.symbol-link(href="")
								h2.symbol-title Grotto
								p.symbol-total #{symbols.grotto.total}

					.illustItem.illustItem--holly.symbol.symbol--holly
						include ../illustrations/holly.html
						a.symbol-link(href="")
							h2.symbol-title Holly
							p.symbol-total #{symbols.holly.total}

					.illustItem.illustItem--doves.symbol.symbol--doves.symbol--inline
						include ../illustrations/doves.html
						a.symbol-link(href="")
							h2.symbol-title Doves
							p.symbol-total #{symbols.doves.total}

					.illustItem.illustItem--fencePost.illustItem--fencePost--second
						include ../illustrations/fence-post.html
						.illustItem.illustItem--lapland.illustItem--fence-arrow.illustItem--fence-arrow-right.symbol.symbol--lapland
							include ../illustrations/fence-right.html
							a.symbol-link(href="")
								h2.symbol-title Lapland
								p.symbol-total #{symbols.lapland.total}

					.illustItem.illustItem--ivy.symbol.symbol--ivy
						include ../illustrations/ivy.html
						a.symbol-link(href="")
							h2.symbol-title Ivy
							p.symbol-total #{symbols.ivy.total}

			.illust-level--town
				.illustItem.illustItem--snowglobe
					include ../illustrations/snowglobe.html
				.illustItem.illustItem--town
					include ../illustrations/town.html
					.svg-house
						include ../illustrations/house.html
					include ../illustrations/sleigh.html
					include ../illustrations/sledge.html
					include ../illustrations/carollers.html
					include ../illustrations/nativity.html
					
					.illust-level.illust-level--symbolsTown
						
						.illustItem.illustItem--yule.symbol.symbol--yule.symbol--inline
							a.symbol-link(href="")
								h2.symbol-title Yule
								p.symbol-total #{symbols.yule.total}
						.illustItem.illustItem--cold.symbol.symbol--cold.symbol--inline
							a.symbol-link(href="")
								h2.symbol-title Cold
								p.symbol-total #{symbols.cold.total}
						
						.symbols--outside
							.illustItem.illustItem--robin.symbol.symbol--robin
								a.symbol-link(href="")
									h2.symbol-title Robin
									p.symbol-total #{symbols.robin.total}
							.illustItem.illustItem--christmaslights.symbol.symbol--christmaslights.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Christmas Lights
									p.symbol-total #{symbols.christmaslights.total}
							.illustItem.illustItem--snow.symbol.symbol--snow.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Snow
									p.symbol-total #{symbols.snow.total}
							.illustItem.illustItem--snowman.symbol.symbol--snowman
								a.symbol-link(href="")
									h2.symbol-title Snowman
									p.symbol-total #{symbols.snowman.total}
							.illustItem.illustItem--sledge.symbol.symbol--sledge
								a.symbol-link(href="")
									h2.symbol-title Sledge
									p.symbol-total #{symbols.sledge.total}
							.illustItem.illustItem--wreath.symbol.symbol--wreath
								a.symbol-link(href="")
									h2.symbol-title Wreath
									p.symbol-total #{symbols.wreath.total}
							.illustItem.illustItem--carols.symbol.symbol--carols.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Carols
									p.symbol-total #{symbols.carols.total}
								
						.symbols--inside.inactive
							//- Nativity Scene totals
							.illustItem.illustItem--mary.symbol.symbol--mary
								a.symbol-link(href="")
									h2.symbol-title Mary
									p.symbol-total #{symbols.mary.total}
							.illustItem.illustItem--joseph.symbol.symbol--joseph
								a.symbol-link(href="")
									h2.symbol-title Joseph
									p.symbol-total #{symbols.joseph.total}
							.illustItem.illustItem--manger.symbol.symbol--manger
								a.symbol-link(href="")
									h2.symbol-title Manger
									p.symbol-total #{symbols.manger.total}
							.illustItem.illustItem--jesus.symbol.symbol--jesus
								a.symbol-link(href="")
									h2.symbol-title Jesus
									p.symbol-total #{symbols.jesus.total}
							.illustItem.illustItem--god.symbol.symbol--god
								a.symbol-link(href="")
									h2.symbol-title God
									p.symbol-total #{symbols.god.total}
							.illustItem.illustItem--stable.symbol.symbol--stable
								a.symbol-link(href="")
									h2.symbol-title Stable
									p.symbol-total #{symbols.stable.total}
							.illustItem.illustItem--wisemen.symbol.symbol--wisemen.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Wisemen
									p.symbol-total #{symbols.wisemen.total}
							.illustItem.illustItem--shepherd.symbol.symbol--shepherd.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Shepherds
									p.symbol-total #{symbols.shepherd.total}
							.illustItem.illustItem--angel.symbol.symbol--angel
								a.symbol-link(href="")
									h2.symbol-title Angel
									p.symbol-total #{symbols.angel.total}
							.illustItem.illustItem--gold.symbol.symbol--gold
								a.symbol-link(href="")
									h2.symbol-title Gold
									p.symbol-total #{symbols.gold.total}
							.illustItem.illustItem--frankincense.symbol.symbol--frankincense
								a.symbol-link(href="")
									h2.symbol-title Frankincense
									p.symbol-total #{symbols.frankincense.total}
							.illustItem.illustItem--myrrh.symbol.symbol--myrrh
								a.symbol-link(href="")
									h2.symbol-title Myrrh
									p.symbol-total #{symbols.myrrh.total}
									
							//- Santa + Sleigh Scene totals
							.illustItem.illustItem--sleigh.symbol.symbol--sleigh.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Sleigh
									p.symbol-total #{symbols.sleigh.total}
							.illustItem.illustItem--elf.symbol.symbol--elf
								a.symbol-link(href="")
									h2.symbol-title Elf
									p.symbol-total #{symbols.elf.total}
							.illustItem.illustItem--sack.symbol.symbol--sack
								a.symbol-link(href="")
									h2.symbol-title Sack
									p.symbol-total #{symbols.sack.total}
							.illustItem.illustItem--santa.symbol.symbol--santa
								a.symbol-link(href="")
									h2.symbol-title Santa
									p.symbol-total #{symbols.santa.total}
							.illustItem.illustItem--hohoho.symbol.symbol--hohoho
								a.symbol-link(href="")
									p.symbol-total #{symbols.hohoho.total}
									
							//- Reindeer totals
							.illustItem.illustItem--rudolph.symbol.symbol--rudolph.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Rudolph
									p.symbol-total #{symbols.rudolph.total}
							.illustItem.illustItem--dasher.symbol.symbol--dasher.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Dasher
									p.symbol-total #{symbols.dasher.total}
							.illustItem.illustItem--dancer.symbol.symbol--dancer.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Dancer
									p.symbol-total #{symbols.dancer.total}
							.illustItem.illustItem--prancer.symbol.symbol--prancer.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Prancer
									p.symbol-total #{symbols.prancer.total}
							.illustItem.illustItem--vixen.symbol.symbol--vixen.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Vixen
									p.symbol-total #{symbols.vixen.total}
							.illustItem.illustItem--comet.symbol.symbol--comet.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Comet
									p.symbol-total #{symbols.comet.total}
							.illustItem.illustItem--cupid.symbol.symbol--cupid.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Cupid
									p.symbol-total #{symbols.cupid.total}
							.illustItem.illustItem--donner.symbol.symbol--donner.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Donner
									p.symbol-total #{symbols.donner.total}
							.illustItem.illustItem--blitzen.symbol.symbol--blitzen.symbol--inline
								a.symbol-link(href="")
									h2.symbol-title Blitzen
									p.symbol-total #{symbols.blitzen.total}
						

			- }


			.symbol-list-wrapper
				ul.symbol-list.unstyled
					include ../symbols/index


			#scroll-proxy

			include ../includes/footer

	include ../includes/foot
